# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/io-ecosystem-growth-contributors

/apps/ced-portal-fe/ @pagopa/io-ecosystem-growth-contributors @PierpaoloPirasSp
/apps/ced-browser-fe/ @pagopa/io-ecosystem-growth-contributors @PierpaoloPirasSp
/apps/ced-card-request-fe/ @pagopa/io-ecosystem-growth-contributors @PierpaoloPirasSp