openapi: 3.0.3
info:
  title: CED Browser API
  description: |
    Public API for browsing and searching CED (Carta Europea della Disabilità) opportunities.
    Citizens authenticated via IO App can consult and search opportunities available to them.

    Only `published` opportunities within their valid date range (`date_from` ≤ today ≤ `date_to` or no expiry) are returned.
  version: 1.0.0
servers:
  - url: https://api.io.pagopa.it/ced-browser/v1/api
    description: Production endpoint

tags:
  - name: Access
    description:
      Authentication flow via FIMS (OIDC). Obtain a session token before
      calling protected endpoints.
  - name: Places
    description: Search and retrieve place details (require Bearer token)
  - name: Profiles
    description: Retrieve operator profile details (require Bearer token)
  - name: Opportunities
    description: Browse and search CED opportunities (require session token)

paths:
  /fauth:
    get:
      tags:
        - Access
      summary: Initiate FIMS authentication
      description: |
        Starts the OIDC/FIMS authentication flow. Redirects the user-agent to the
        identity provider. The `device` parameter is forwarded to the IdP for
        device-specific flows.
      operationId: fimsAuth
      security: []
      parameters:
        - in: query
          name: device
          required: false
          description: Device identifier forwarded to the identity provider.
          schema:
            type: string
      responses:
        "302":
          description: Redirect to the OpenID Connect provider.
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /fcb:
    get:
      tags:
        - Access
      summary: FIMS callback
      description: |
        Callback endpoint called by the identity provider after authentication.
        Validates the OIDC response, creates a session, and redirects the
        frontend to `/authorize` with a short-lived `id` parameter.
      operationId: fimsCallback
      security: []
      parameters:
        - in: query
          name: state
          required: true
          schema:
            type: string
        - in: query
          name: code
          required: true
          schema:
            type: string
        - in: query
          name: iss
          required: true
          schema:
            type: string
        - in: header
          name: signature
          required: false
          schema:
            type: string
        - in: header
          name: signature-input
          required: false
          schema:
            type: string
      responses:
        "302":
          description: Redirect to `/authorize` with the session `id` and `device` in the query parameters.
        "401":
          description: Unauthorized — invalid or expired OIDC response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /authorize:
    get:
      tags:
        - Access
      summary: Exchange session id for a session token
      description: |
        Called by the frontend after being redirected from `/fcb`. Exchanges the
        short-lived `id` for a durable session token that must be used to
        authenticate all subsequent requests to protected endpoints.
      operationId: authorize
      security: []
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Session token successfully issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionToken"
        "401":
          description: Unauthorized — invalid or expired session id.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /search:
    get:
      tags:
        - Places
      summary: Search places and operator profiles
      description: |
        Citizen-facing full-text search on `place_materialized_view`.
        Searches across place name, city, and operator profile display name.
        Returns a flat list of places and operator profiles.
        Requires citizen authentication (`Authorization: Bearer <token>`).
      operationId: searchPlaces
      security:
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 3
          description: Full-text search query (minimum 3 characters).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Maximum number of results to return (default 100).
      responses:
        "200":
          description: Search results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceSearchResponse"
              examples:
                mixed:
                  summary: Mixed place and profile results
                  value:
                    total: 2
                    items:
                      - id: 01JVMK3N8XQZP5T6G2WYHAB4CD
                        name: Comune di Alessandria
                        entityId: 01JVMK3N8XQZP5T6G2WYHAB4CA
                        type: profile
                        address:
                          street: Piazza della Libertà 1
                          city: Alessandria
                          postalCode: "15121"
                          state: AL
                      - id: 01JVMK3N8XQZP5T6G2WYHAB4CE
                        name: Biblioteca civica Francesca Calvo
                        entityId: 01JVMK3N8XQZP5T6G2WYHAB4CA
                        type: place
                        address:
                          street: Piazza Vittorio Veneto 1
                          city: Alessandria
                          postalCode: "15121"
                          state: AL
                online:
                  summary: Online place result
                  value:
                    total: 1
                    items:
                      - id: 01JVMK3N8XQZP5T6G2WYHAB4CF
                        name: Flixbus
                        entityId: 01JVMK3N8XQZP5T6G2WYHAB4CB
                        type: place
                        address: null
                        url: https://flixbus.it
        "400":
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /places/{placeId}:
    get:
      tags:
        - Places
      summary: Get place detail
      description: |
        Returns the full detail of a single place, including contact information,
        associated published opportunities, and other places belonging to the same operator.
        Requires citizen authentication (`Authorization: Bearer <token>`).
      operationId: getPlaceDetail
      security:
        - bearerAuth: []
      parameters:
        - name: placeId
          in: path
          required: true
          description: Place identifier.
          schema:
            type: string
        - name: Accept-Language
          in: header
          required: false
          description: Language for opportunity titles (defaults to `it`). Must be an exact supported tag.
          schema:
            type: string
            enum: [en, fr, de, sl, it]
            default: it
      responses:
        "200":
          description: Place detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceDetail"
        "400":
          description: Invalid or malformed Accept-Language header.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Place not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /profiles/{profileId}:
    get:
      tags:
        - Profiles
      summary: Get operator profile detail
      description: |
        Returns the public profile of an operator identified by its id.
        The response includes the profile data and support contacts from the
        profile tables, plus the five most recent places and five most recent
        opportunities for the operator.
        Requires citizen authentication (`Authorization: Bearer <token>`).
      operationId: getOperatorProfile
      security:
        - bearerAuth: []
      parameters:
        - name: profileId
          in: path
          required: true
          description: Profile identifier.
          schema:
            type: string
        - name: Accept-Language
          in: header
          required: false
          description: |
            Language for recent opportunity titles (defaults to `it`). Must be an exact supported tag.
          schema:
            type: string
            enum: [en, fr, de, sl, it]
            default: it
      responses:
        "200":
          description: Operator profile detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperatorProfileDetail"
              examples:
                default:
                  summary: Operator profile with recent places and opportunities
                  value:
                    displayName: Comune di Alessandria
                    place:
                      id: 01JVMK3N8XQZP5T6G2WYHAB4CD
                      name: Sportello Carta Europea della Disabilita
                      type: offline
                      supportContacts:
                        - id: 01JVMK3N8XQZP5T6G2WYHAB4CE
                          type: phone
                          value: "+39 0131 515111"
                        - id: 01JVMK3N8XQZP5T6G2WYHAB4CF
                          type: website
                          value: https://comune.alessandria.it/ced
                      address:
                        street: Piazza della Liberta 1
                        city: Alessandria
                        postalCode: "15121"
                        state: AL
                      website: null
                    recentPlaces:
                      - id: 01JVMK3N8XQZP5T6G2WYHAB4CG
                        name: Biblioteca civica Francesca Calvo
                        type: offline
                        street: Piazza Vittorio Veneto 1
                        city: Alessandria
                        state: AL
                        postalCode: "15121"
                        country: IT
                        url: null
                      - id: 01JVMK3N8XQZP5T6G2WYHAB4CH
                        name: Portale servizi online
                        type: online
                        street: null
                        city: null
                        state: null
                        postalCode: null
                        country: null
                        url: https://servizi.comune.alessandria.it
                    recentOpportunities:
                      - id: 01JVMK3N8XQZP5T6G2WYHAB4CI
                        name: Sconto mensile palestra
                        beneficiaryBenefit:
                          type: discount
                          discountType: percentage
                          value: 20
                        dateFrom: "2026-01-01"
                        dateTo: "2026-12-31"
                      - id: 01JVMK3N8XQZP5T6G2WYHAB4CJ
                        name: Ingresso gratuito museo
                        beneficiaryBenefit:
                          type: free
                          discountType: null
                          value: null
                        dateFrom: "2026-03-01"
                        dateTo: null
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Operator profile not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /opportunities/search:
    get:
      tags:
        - Opportunities
      summary: Search opportunities from materialized view
      description: |
        Returns a paginated, ordered list of opportunities from the materialized view.
        Only published opportunities within their valid date range are returned.
      operationId: searchOpportunities
      security:
        - SessionAuth: []
      parameters:
        - name: Accept-Language
          in: header
          required: false
          description: Language for opportunity titles (defaults to `it`). Must be an exact supported tag.
          schema:
            type: string
            enum: [en, fr, de, sl, it]
            default: it
        - name: orderBy
          in: query
          description: |
            Field to order results by. Supported values: `dateFrom`, `dateTo`, `name`, `profileDisplayName`.
            Default is `dateFrom` descending.
          required: false
          schema:
            type: string
            enum: [dateFrom, dateTo, name, profileDisplayName]
            default: dateFrom
        - name: orderDirection
          in: query
          description: Sort direction. Default is `desc`.
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: limit
          in: query
          description: Maximum number of results to return per page.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - name: offset
          in: query
          description: Number of results to skip (zero-based). Used for pagination.
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Paginated list of opportunities from the materialized view.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpportunitySearchResponse"
        "400":
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Missing or invalid authentication token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /opportunities/{opportunityId}:
    get:
      tags:
        - Opportunities
      summary: Get a specific CED opportunity
      description: |
        Returns the full details of a single published CED opportunity, including all its places.
        Returns 404 if the opportunity does not exist, is not published, or is outside its valid date range.
      operationId: getOpportunity
      security:
        - SessionAuth: []
      parameters:
        - name: opportunityId
          in: path
          required: true
          description: Unique identifier of the opportunity.
          schema:
            type: string
        - name: Accept-Language
          in: header
          required: false
          description: |
            Language for localized opportunity metadata (defaults to `it`). Must be an exact supported tag.
          schema:
            type: string
            enum: [en, fr, de, sl, it]
            default: it
      responses:
        "200":
          description: Opportunity details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpportunityDetail"
              examples:
                default:
                  summary: Published opportunity detail
                  value:
                    id: 01JVMK3N8XQZP5T6G2WYHAB4CD
                    name: Sconto mensile palestra
                    description: 20% di sconto sulla quota mensile per portatori di disabilità.
                    condition: Riservato ai titolari della Carta Europea della Disabilità.
                    language: it
                    category: Cultura e tempo libero
                    nationalTerritory: false
                    dateFrom: "2026-01-01"
                    dateTo: "2026-12-31"
                    url: https://example.com/offerta-ced
                    beneficiaryBenefit:
                      type: discount
                      discountType: percentage
                      value: 20
                    caregiverBenefit:
                      type: free
                      discountType: null
                      value: null
                    profile:
                      id: 01JVMK3N8XQZP5T6G2WYHAB4CA
                      displayName: Comune di Alessandria
                      place:
                        id: 01JVMK3N8XQZP5T6G2WYHAB4CB
                        name: Sportello Carta Europea della Disabilita
                        type: offline
                        address:
                          street: Piazza della Liberta 1
                          city: Alessandria
                          state: AL
                          postalCode: "15121"
                    places:
                      - id: 01JVMK3N8XQZP5T6G2WYHAB4CF
                        name: Palestra FitLife Roma Centro
                        type: offline
                        street: Via del Corso, 10
                        city: Roma
                        state: Lazio
                        postalCode: "00186"
                        country: IT
                        url: null
                      - id: 01JVMK3N8XQZP5T6G2WYHAB4CG
                        name: Portale FitLife
                        type: online
                        street: null
                        city: null
                        state: null
                        postalCode: null
                        country: null
                        url: https://example.com/ced-access
        "401":
          description: Missing or invalid authentication token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Opportunity not found or not published.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        Opaque session token released by `GET /authorize` after the FIMS
        authentication flow has been validated. Pass as `Authorization: Bearer <token>`.
    SessionAuth:
      type: apiKey
      in: header
      name: token
      description: |
        Session token obtained from `GET /authorize` after completing the FIMS
        authentication flow. Must be included in the `token` header for all
        protected endpoints.

  schemas:
    # -------------------------------------------------------------------------
    # Places search
    # -------------------------------------------------------------------------
    PlaceSearchResponse:
      type: object
      additionalProperties: false
      required:
        - total
        - items
      properties:
        total:
          type: integer
          minimum: 0
        items:
          type: array
          items:
            $ref: "#/components/schemas/PlaceSearchItem"
    PlaceSearchItem:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - entityId
        - type
        - address
      properties:
        id:
          type: string
          description: place.id — always a place identifier.
        name:
          type: string
          description: |
            COALESCE(profile.display_name, place.name) — shows the operator's
            public name when the place is linked to the operator's profile.
        entityId:
          type: string
          description: operator.id — used by the FE to build navigation paths.
        type:
          type: string
          enum:
            - place
            - profile
          description: |
            `profile` when the place is linked to the operator's profile (profile_id IS NOT NULL);
            `place` otherwise.
        address:
          nullable: true
          description: Structured address. null for online places.
          allOf:
            - $ref: "#/components/schemas/PlaceAddress"
        url:
          type: string
          format: uri
          maxLength: 2048
          description: Website URL. Present for online places only.
    PlaceAddress:
      type: object
      additionalProperties: false
      required:
        - street
        - city
        - state
        - postalCode
      properties:
        street:
          type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string

    # -------------------------------------------------------------------------
    # Place Detail
    # -------------------------------------------------------------------------
    PlaceDetailContacts:
      type: object
      additionalProperties: false
      properties:
        phone:
          type: string
          description: Phone contact value, if available.
        website:
          type: string
          format: uri
          description: Website contact URL, if available.

    PlaceBenefit:
      type: object
      additionalProperties: false
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - free
            - reduced_fixed_price
            - priority
            - discount
            - other
          description: Benefit type.
        discountType:
          type: string
          enum:
            - percentage
            - fixed_amount
          nullable: true
          description: Discount calculation method. Present only when type is `discount`.
        value:
          type: integer
          nullable: true
          description: Numeric benefit value. Present when type is `reduced_fixed_price` or `discount`.

    PlaceDetailOpportunity:
      type: object
      additionalProperties: false
      required:
        - benefit
        - id
        - title
      properties:
        benefit:
          $ref: "#/components/schemas/PlaceBenefit"
        id:
          type: string
          description: Opportunity identifier.
        title:
          type: string
          description: Opportunity title in the requested language.

    PlaceDetailRelatedItem:
      type: object
      additionalProperties: false
      required:
        - id
        - title
      properties:
        address:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/PlaceAddress"
          description: Address of the related place. Null for online places.
        id:
          type: string
          description: Related place identifier.
        title:
          type: string
          description: Display name of the related place.

    PlaceDetail:
      type: object
      additionalProperties: false
      required:
        - contacts
        - entityId
        - entityName
        - id
        - opportunities
        - relatedPlaces
        - title
      properties:
        address:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/PlaceAddress"
          description: Physical address. Null for online places.
        contacts:
          $ref: "#/components/schemas/PlaceDetailContacts"
        entityId:
          type: string
          description: Operator identifier this place belongs to.
        entityName:
          type: string
          description: Operator display name.
        id:
          type: string
          description: Place identifier.
        opportunities:
          type: array
          description: Published opportunities redeemable at this place.
          items:
            $ref: "#/components/schemas/PlaceDetailOpportunity"
        relatedPlaces:
          type: array
          description: |
            Other places belonging to the same operator,
            ordered alphabetically by name.
          items:
            $ref: "#/components/schemas/PlaceDetailRelatedItem"
        title:
          type: string
          description: Place display name.

    # -------------------------------------------------------------------------
    # Profile Detail
    # -------------------------------------------------------------------------
    ProfileSupportContact:
      type: object
      additionalProperties: false
      required:
        - id
        - type
        - value
      properties:
        id:
          type: string
          description: Support contact identifier.
        type:
          type: string
          enum:
            - email
            - phone
            - website
          description: Support contact type.
        value:
          type: string
          maxLength: 2048
          description: Support contact value.

    ProfilePlace:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - type
        - supportContacts
      properties:
        id:
          type: string
          description: Profile place identifier.
        name:
          type: string
          description: Profile place display name.
        type:
          type: string
          enum:
            - online
            - offline
          description: Whether the profile place is physical or online.
        supportContacts:
          type: array
          description: Support contacts exposed by the operator profile.
          items:
            $ref: "#/components/schemas/ProfileSupportContact"
        address:
          nullable: true
          description: Physical address for offline profiles. Null for online profiles.
          allOf:
            - $ref: "#/components/schemas/PlaceAddress"
        website:
          type: string
          format: uri
          nullable: true
          description: Website URL for online profiles.

    ProfileRecentOpportunity:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - beneficiaryBenefit
        - dateFrom
      properties:
        id:
          type: string
          description: Opportunity identifier.
        name:
          type: string
          description: Opportunity title in the requested language.
        beneficiaryBenefit:
          $ref: "#/components/schemas/OpportunityBenefit"
        dateFrom:
          type: string
          format: date
          description: First date from which the opportunity is available.
        dateTo:
          type: string
          format: date
          nullable: true
          description: Last date until which the opportunity is available.

    ProfileRecentPlace:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - type
      properties:
        id:
          type: string
          description: Place identifier.
        name:
          type: string
          description: Display name of the place.
        type:
          type: string
          enum:
            - online
            - offline
          description: Whether the place is a physical location or an online service.
        street:
          type: string
          nullable: true
          description: Street address. Present for offline places.
        city:
          type: string
          nullable: true
          description: City. Present for offline places.
        state:
          type: string
          nullable: true
          description: State or province. Present for offline places.
        postalCode:
          type: string
          nullable: true
          description: Postal code. Present for offline places.
        country:
          type: string
          nullable: true
          description: ISO 3166-1 alpha-2 country code. Present for offline places.
        url:
          type: string
          format: uri
          nullable: true
          description: URL to access the service. Present for online places.

    OperatorProfileDetail:
      type: object
      additionalProperties: false
      required:
        - displayName
        - place
        - recentPlaces
        - recentOpportunities
      properties:
        displayName:
          type: string
          description: Public display name of the operator profile.
        place:
          $ref: "#/components/schemas/ProfilePlace"
        recentPlaces:
          type: array
          description: Five most recent places of the operator ordered by creation time.
          items:
            $ref: "#/components/schemas/ProfileRecentPlace"
        recentOpportunities:
          type: array
          description: Five most recent opportunities of the operator ordered by start date.
          items:
            $ref: "#/components/schemas/ProfileRecentOpportunity"

    # -------------------------------------------------------------------------
    # Auth
    # -------------------------------------------------------------------------
    SessionToken:
      type: object
      required:
        - token
      properties:
        token:
          type: string
          description:
            Opaque session token. Use as the value of the `token` header on
            protected endpoints.

    # -------------------------------------------------------------------------
    # Pagination
    # -------------------------------------------------------------------------
    OpportunitiesResponse:
      type: object
      required:
        - items
        - total
        - has_more
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/OpportunitySummary"
          description: Opportunities for the current page.
        total:
          type: integer
          minimum: 0
          description: Total number of opportunities matching the query (before pagination).
        has_more:
          type: boolean
          description: True if there are more results beyond the current page.

    # -------------------------------------------------------------------------
    # Opportunity
    # -------------------------------------------------------------------------
    OpportunityBenefit:
      type: object
      additionalProperties: false
      required:
        - type
        - discountType
        - value
      properties:
        type:
          type: string
          enum:
            - free
            - reduced_fixed_price
            - priority
            - discount
            - other
          description: Type of benefit granted for the opportunity.
        discountType:
          type: string
          enum:
            - percentage
            - fixed_amount
          nullable: true
          description: |
            Discount calculation method. Present only when `type` is `discount`.
        value:
          type: integer
          nullable: true
          description: |
            Numeric benefit value. Present when the benefit type carries a numeric amount.

    OpportunitySummary:
      type: object
      description: |
        Compact representation of a CED opportunity, including its places.
        Used in list responses.
      required:
        - id
        - name
        - description
        - type
        - category
        - beneficiaryBenefitValue
        - beneficiaryBenefitType
        - dateFrom
        - places
      properties:
        id:
          type: string
          pattern: "^[0-9A-HJKMNP-TV-Z]{26}$"
          description: Unique identifier of the opportunity.
        name:
          type: string
          description: Display name of the opportunity.
          example: "Sconto mensile palestra"
        description:
          type: string
          description: Description of the opportunity.
          example: "20% di sconto sulla quota mensile per portatori di disabilità."
        type:
          type: string
          description: Type of the opportunity (e.g. discount, service).
          example: "discount"
        category:
          type: string
          description: Category the opportunity belongs to (e.g. sport, mobility).
          example: "sport"
        beneficiaryBenefitValue:
          type: integer
          description: Numeric benefit value for the beneficiary.
          example: 20
        beneficiaryBenefitType:
          type: string
          enum:
            - percentual
            - absolute
          description: |
            How the benefit value is interpreted:
            - `percentual` — a percentage discount (e.g. 20%)
            - `absolute` — a fixed amount in euros (e.g. 50€)
        caregiverBenefitValue:
          type: integer
          nullable: true
          description: Numeric benefit value for the caregiver accompanying the
            beneficiary, if applicable.
          example: 10
        caregiverBenefitType:
          type: string
          nullable: true
          enum:
            - percentual
            - absolute
          description:
            How the caregiver benefit value is interpreted. Null when no
            caregiver benefit applies.
        dateFrom:
          type: string
          format: date
          description: First date from which the opportunity is available (inclusive).
          example: "2026-01-01"
        dateTo:
          type: string
          format: date
          nullable: true
          description:
            Last date until which the opportunity is available (inclusive).
            Null means the opportunity has no expiry.
          example: "2026-12-31"
        url:
          type: string
          format: uri
          nullable: true
          description: URL for further information about the opportunity.
          example: "https://example.com/offerta-ced"
        places:
          type: array
          description: Places (physical or online) where the opportunity can be redeemed.
          minItems: 1
          items:
            $ref: "#/components/schemas/Place"

    OpportunityDetail:
      type: object
      additionalProperties: false
      description: |
        Full representation of a single published CED opportunity.
        Localized metadata is returned in the resolved language.
      required:
        - beneficiaryBenefit
        - category
        - dateFrom
        - description
        - id
        - language
        - name
        - nationalTerritory
        - places
        - profile
      properties:
        id:
          type: string
          description: Unique identifier of the opportunity.
          example: 01JVMK3N8XQZP5T6G2WYHAB4CD
        name:
          type: string
          description: Opportunity display name in the resolved language.
          example: Sconto mensile palestra
        description:
          type: string
          description: Opportunity description in the resolved language.
          example: 20% di sconto sulla quota mensile per portatori di disabilità.
        condition:
          type: string
          nullable: true
          description: Eligibility conditions in the resolved language, if available.
          example: Riservato ai titolari della Carta Europea della Disabilità.
        language:
          type: string
          enum:
            - en
            - fr
            - de
            - sl
            - it
          description: Language used to resolve localized metadata.
          example: it
        category:
          type: string
          description: Title of the opportunity category.
          example: Cultura e tempo libero
        nationalTerritory:
          type: boolean
          description: Whether the opportunity is valid on the whole national territory.
        dateFrom:
          type: string
          format: date
          description: First date from which the opportunity is available (inclusive).
          example: "2026-01-01"
        dateTo:
          type: string
          format: date
          nullable: true
          description: |
            Last date until which the opportunity is available (inclusive).
            Null means the opportunity has no expiry.
          example: "2026-12-31"
        url:
          type: string
          format: uri
          nullable: true
          description: URL for further information about the opportunity.
          example: https://example.com/offerta-ced
        beneficiaryBenefit:
          $ref: "#/components/schemas/OpportunityBenefit"
        caregiverBenefit:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/OpportunityBenefit"
        places:
          type: array
          minItems: 1
          description: Places where the opportunity can be redeemed.
          items:
            $ref: "#/components/schemas/Place"
        profile:
          $ref: "#/components/schemas/OpportunityProfile"

    OpportunityProfile:
      type: object
      additionalProperties: false
      description: Operator profile that owns the opportunity.
      required:
        - id
        - displayName
        - place
      properties:
        id:
          type: string
          description: Profile identifier.
          example: 01JVMK3N8XQZP5T6G2WYHAB4CA
        displayName:
          type: string
          description: Public display name of the operator profile.
          example: Comune di Alessandria
        place:
          $ref: "#/components/schemas/OpportunityProfilePlace"

    OpportunityProfilePlace:
      type: object
      additionalProperties: false
      description: The operator profile's place.
      required:
        - id
        - name
        - type
        - address
      properties:
        id:
          type: string
          description: Place identifier.
          example: 01JVMK3N8XQZP5T6G2WYHAB4CD
        name:
          type: string
          description: Display name of the place.
          example: Sportello Carta Europea della Disabilita
        type:
          type: string
          enum:
            - online
            - offline
          description: Whether the place is a physical location or an online service.
        address:
          nullable: true
          description: Physical address. Null for online places.
          allOf:
            - $ref: "#/components/schemas/PlaceAddress"

    OpportunitySearchResponse:
      type: object
      required:
        - items
        - total
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/OpportunitySearchResult"
          description: Opportunities for the current page.
        total:
          type: integer
          minimum: 0
          description: Total number of opportunities matching the query (before pagination).
      example:
        total: 1
        items:
          - id: 01JVMK3N8XQZP5T6G2WYHAB4CD
            name: Sconto mensile palestra
            profileDisplayName: Palestra FitLife Roma Centro
            beneficiaryBenefitType: discount
            beneficiaryBenefitDiscountType: percentage
            beneficiaryBenefitValue: 20
            dateFrom: "2026-01-01"
            dateTo: "2026-12-31"
            language: it

    OpportunitySearchResult:
      type: object
      required:
        - id
        - name
        - profileDisplayName
        - beneficiaryBenefitType
        - beneficiaryBenefitDiscountType
        - beneficiaryBenefitValue
      properties:
        id:
          type: string
          description: Unique identifier of the opportunity (ULID).
        name:
          type: string
          description: Display name of the opportunity.
        profileDisplayName:
          type: string
          description: Display name of the operator profile.
        beneficiaryBenefitType:
          type: string
          enum:
            - free
            - reduced_fixed_price
            - priority
            - discount
            - other
          description: Type of benefit granted to the beneficiary.
        beneficiaryBenefitDiscountType:
          type: string
          enum:
            - percentage
            - fixed_amount
          nullable: true
          description: |
            Discount calculation method. Present only when
            `beneficiaryBenefitType` is `discount`; otherwise `null`.
        beneficiaryBenefitValue:
          type: integer
          nullable: true
          description: |
            Numeric benefit value for the beneficiary. `null` when the benefit
            type carries no numeric value (e.g. `free`, `priority`).
        dateFrom:
          type: string
          format: date
          description: First date from which the opportunity is available (inclusive).
        dateTo:
          type: string
          format: date
          nullable: true
          description:
            Last date until which the opportunity is available (inclusive).
            Null means the opportunity has no expiry.
        language:
          type: string
          enum:
            - en
            - fr
            - de
            - sl
            - it
          description: Language in which the opportunity content is authored.

    # -------------------------------------------------------------------------
    # Place
    # -------------------------------------------------------------------------
    Place:
      type: object
      description: |
        A place where an opportunity can be redeemed.
        Offline places include address fields; online places include a URL.
      required:
        - id
        - name
        - type
      properties:
        id:
          type: string
          pattern: "^[0-9A-HJKMNP-TV-Z]{26}$"
          description: Unique identifier of the place.
        name:
          type: string
          description: Display name of the place.
          example: "Palestra FitLife Roma Centro"
        type:
          type: string
          enum:
            - online
            - offline
          description: Whether the place is a physical location or an online service.
        street:
          type: string
          nullable: true
          description: Street address. Present for offline places.
          example: "Via del Corso, 10"
        city:
          type: string
          nullable: true
          description: City. Present for offline places.
          example: "Roma"
        state:
          type: string
          nullable: true
          description: State or province. Present for offline places.
          example: "Lazio"
        postalCode:
          type: string
          nullable: true
          description: Postal code. Present for offline places.
          example: "00186"
        country:
          type: string
          nullable: true
          description: ISO 3166-1 alpha-2 country code. Present for offline places.
          example: "IT"
        url:
          type: string
          format: uri
          nullable: true
          description: URL to access the service. Present for online places.
          example: "https://example.com/ced-access"

    # -------------------------------------------------------------------------
    # Errors (RFC 7807 Problem Detail)
    # -------------------------------------------------------------------------
    ProblemDetail:
      type: object
      required:
        - status
        - title
      properties:
        status:
          type: integer
          description: HTTP status code.
          example: 400
        title:
          type: string
          description: Short, human-readable summary of the problem.
          example: "Bad Request"
        detail:
          type: string
          description: Human-readable explanation of the specific error.
          example: "Query parameter 'limit' must be between 1 and 50."
        instance:
          type: string
          format: uri
          description: URI reference identifying the specific occurrence of the problem.
