@font-face {
  font-family: 'Titillio';
  src:
    url('https://raw.githubusercontent.com/pagopa/titillio/main/WEB/WOFF2/Titillio-Light.woff2') format('woff2'),
    url('https://raw.githubusercontent.com/pagopa/titillio/main/WEB/Titillio-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillio';
  src:
    url('https://raw.githubusercontent.com/pagopa/titillio/main/WEB/WOFF2/Titillio-Regular.woff2') format('woff2'),
    url('https://raw.githubusercontent.com/pagopa/titillio/main/WEB/Titillio-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillio';
  src:
    url('https://raw.githubusercontent.com/pagopa/titillio/main/WEB/WOFF2/Titillio-Semibold.woff2') format('woff2'),
    url('https://raw.githubusercontent.com/pagopa/titillio/main/WEB/Titillio-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillio';
  src:
    url('https://raw.githubusercontent.com/pagopa/titillio/main/WEB/WOFF2/Titillio-Bold.woff2') format('woff2'),
    url('https://raw.githubusercontent.com/pagopa/titillio/main/WEB/Titillio-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100dvh;
  font-family: 'Titillio', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #e3f2fd;
}

#root {
  min-height: 100dvh;
}
